# Ignore files with no extension, but not dotfiles like .gitignore
/[!.]*
!/*.*

# Explanation:
# /[!.]* matches files in the root directory that do not start with a dot and have no extension.
# It does not match files like .gitignore or .env
.vscode/